---
import { languageTag } from "../paraglide/runtime";
import * as m from "../paraglide/messages.js";
import Emoji from "astro-emoji";
import PortfolioLayout from "@layouts/PortfolioLayout.astro";
---

<PortfolioLayout title="404" description="404">
  <section class="prose flex flex-col items-center p-6">
    <h1 class="text-red-600">404</h1>
    <label class="swap swap-flip text-9xl" for="404-emoji-swap">
      <!-- this hidden checkbox controls the state -->
      <input type="checkbox" id="404-emoji-swap" />
      <div class="swap-on">ðŸ¤”</div>
      <div class="swap-off">ðŸ˜“</div>
    </label>
    <!-- Text -->
    <p class="font-semibold">{m.error_404()}</p>
    <a href=`/${languageTag()}` class="btn">
      <Emoji symbol="â†©ï¸" label="return arrow" />
      {m.home_button()}
    </a>
  </section>
</PortfolioLayout>
