---
import HelloWorld from "../components/HelloWorld.vue"
import { Icon } from 'astro-icon/components'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1 class="text-red-600">Astro</h1>
		<HelloWorld/>
		<Icon name="heroicons:check" />
	</body>
</html>
