<!-- AI consulting work -->
<div
class="card card-compact flex-grow-0 border border-primary bg-base-100 shadow-xl"
>
<div class="card-body">
  <h3 class="card-title mt-0">
    Lead on AI culture developpement
  </h3>
  <p>
    Responsible for the creation and managment of an AI culture
    at Atmo AuRA. Missions include education on the topic of AI,
    focus and consolidation of AI related research efforts, and
    development of AI related tooling.
  </p>
  <div class="card-actions items-center justify-end">
    <div class="badge badge-secondary">AI</div>
    <div class="badge badge-secondary">Consulting</div>
    <div class="badge badge-secondary">Management</div>
    <button
      class="btn btn-primary btn-xs"
      onclick="ai_modal.showModal()">Read more</button
    >
  </div>
</div>
</div>
<dialog
id="ai_modal"
class="m-y-auto prose my-auto rounded-md bg-base-100 p-4 text-base-content"
>
<button autofocus onclick="ai.close()">Close</button>
<h3 class="card-title mt-0 text-base-content">
  Lead on AI culture developpement
</h3>
<p class="prose text-base-content">
  Responsible for the creation and managment of an AI culture at
  Atmo AuRA. Missions include education on the topic of AI,
  focus and consolidation of AI related research efforts, and
  development of AI related tooling.
</p>
</dialog>
<!-- End CAPT'AIR map -->

<!-- IAssitant -->
<div
class="card card-compact border border-primary bg-base-100 shadow-xl"
>
<div class="card-body">
  <h3 class="card-title mt-0">[IA]ssistant de veille</h3>
  <p>
    Fully local and open-source based AI solution for helping
    engineers stay up to date with their research. Focused on
    frugal AI usage.
  </p>
  <div class="card-actions items-center justify-end">
    <div class="badge badge-secondary">Frugal AI</div>
    <div class="badge badge-secondary">Web</div>
    <div class="badge badge-secondary">TextGen</div>
    <div class="badge badge-secondary">Data processing</div>
    <button
      class="btn btn-primary btn-xs"
      onclick="iassistant_modal.showModal()">Read more</button
    >
  </div>
</div>
</div>
<dialog
id="iassistant_modal"
class="prose my-auto rounded-md bg-base-100 p-4 text-base-content"
>
<button autofocus onclick="iassistant_modal.close()"
  >Close</button
>
<h3 class="card-title mt-0 text-base-content">
  [IA]ssistant de veille
</h3>
<p class="prose text-base-content">
  Fully local and open-source based AI solution for helping
  engineers stay up to date with their research. Focused on
  frugal AI usage.<br />
  Focused on frugal AI usage, and aimed towards enhancing the existing
  workflows of users, not replacing them.
</p>
</dialog>
<!-- End IAssistant -->

<!-- CAPT'AIR map -->
<div
class="card card-compact border border-primary bg-base-100 shadow-xl"
>
<div class="card-body">
  <h3 class="card-title mt-0">Capt'AIR air quality map</h3>
  <p>
    Web platform made for consulting air quality data. Allows
    for consulting live data as well as making replays. Focused
    on ease of use.
  </p>
  <div class="card-actions items-center justify-end">
    <div class="badge badge-secondary">Dataviz</div>
    <div class="badge badge-secondary">Web</div>
    <div class="badge badge-secondary">Data processing</div>
    <button
      class="btn btn-primary btn-xs"
      onclick="captair_modal.showModal()">Read more</button
    >
  </div>
</div>
</div>
<dialog
id="captair_modal"
class="m-y-auto prose my-auto rounded-md bg-base-100 p-4 text-base-content"
>
<button autofocus onclick="captair_modal.close()">Close</button>
<h3 class="card-title mt-0 text-base-content">
  [IA]ssistant de veille
</h3>
<p class="prose text-base-content">
  Web platform made for consulting air quality data from various
  sources. Allows for consulting live data as well as making
  replays, controlled by video player-like controls.<br />
  Focused on accessibily and ease of use, as it was made for a general
  audience.
</p>
</dialog>
<!-- End CAPT'AIR map -->