---
import DefaultLayout from "../../layouts/DefaultLayout.astro";
import * as m from "../../paraglide/messages.js";

import { availableLanguageTags } from "../../paraglide/runtime";
export function getStaticPaths() {
  return availableLanguageTags.map((lang) => ({ params: { lang } }));
}
---

<DefaultLayout title={m.homepage_title()} description={m.homepage_desc()}>
  <p>Hi.</p>
</DefaultLayout>
