---
import DefaultLayout from "../../layouts/DefaultLayout.astro";
import * as m from "../../paraglide/messages.js";

import HelloWorld from "../../components/HelloWorld.vue";
import { Icon } from "astro-icon/components";
import Emoji from "astro-emoji";

import { availableLanguageTags } from "../../paraglide/runtime";
export function getStaticPaths() {
  return availableLanguageTags.map((lang) => ({ params: { lang } }));
}
---

<DefaultLayout title={m.homepage_title()} description={m.homepage_desc()}>
  <h1 class="text-red-600">Astro</h1>
  <HelloWorld />
  <Icon name="heroicons:check" />
  <button class="btn">DaisyUI button</button>
  <div class="animate-in fade-in zoom-in animation-duration-[1s]">
    Fade in, zoom in ! <Emoji symbol="🚗" label="car" />
  </div>
</DefaultLayout>
